/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block{
    border-width: 12px;
    border-style: outset;
    display: inline-block;
    padding: 20px;
}

.red{
    background-color: red;
    border-color: crimson;
}

.blue{
    background-color: blue;
    border-color: blueviolet;
}

.pinkmagenta{
    background-color: pink;
    border-color: darkmagenta;
}

.orange{
    background-color: orange;
    border-color: green;
}

.teal{
    background-color: teal;
    border-color: yellow;
}