* {
    box-sizing: border-box;}

body {
    margin: 0px;
    font-family: sans-serif;
}

.spacer {
    height: 100vh;}
    
#hero-1 {
    background-image: url("../images/dave-adamson-1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-1 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

#three-columns {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
}

#three-columns ul {
    list-style-type: none;
    padding: 0px;
}

#column-1 {
    background-color: lightblue;
    display: flex;
    margin: 24px 0px;
    display: grid;
    grid-template-columns: 24px 200px 550px 24px;
    grid-template-areas: " . left-sidebar main-area . ";
}

#column-2 {
    background-color: white;
    display: center;
    color: darkblue;
}

#column-3 {
    background-color: aquamarine;
    display: flex;
    margin: 24px 0px;
    display: grid;
    grid-template-columns: 24px 200px 550px 24px;
    grid-template-areas: " . right-sidebar main-area . ";
}

@media screen and ( max-width: 900px) {
    #body {
        flex-direction: column;
    }
}