*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#hero-1{
    background-image: url("../images/w-il-12-.jpg");
    height: 50vh;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1{
    display: inline-block;
    width: 70px;
    color: rgb(230, 235, 230);
    justify-content: baseline;
    padding-left: 100px;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #c475eb;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#layout{
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

#layout h3{
    padding: 24px;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    border: 10px solid #333333;
    padding: 24px;
    margin: 24px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: #c475eb;
    color: #f1ecec;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 5px solid #0a0b0b;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}