/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1{
    width: 350px;
    background-color: aquamarine;
    margin: 24px;
}

.card-style-1 img{
    width: 100%;
}

.card-style-1 h2{
    text-align: center;
}

.card-style-1 p{
    padding-left: 24px;
    padding-right: 24px;
}

.card-style-1 a{
    background-color: green;
    display: block;
    text-align: center;
    padding: 24px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}