*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

#grid-layout {
    display: grid;
    grid-template-columns:  1fr 250px;
    grid-template-areas: "content sidebar";
    margin: 0px 36px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: darkgoldenrod;
    color: white;
    margin: 0px;
    padding: 12px;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: #efefef;
    border: 1px solid darkgoldenrod;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a{
    color: blueviolet;
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid darkolivegreen;
}
/* psedo-class */
#sidebae-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    color: blueviolet;
    grid-area: content;
    margin: 36px 0px;
}
